body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.buttonWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.btn {
    width: 40%;
    margin: 10px;
    display: block;
}


.connect-bluetooth {
    background-color: #FF5733;
    /* Orange */
}

.start-bike-exercise {
    background-color: #C70039;
    /* Red */
}

.cadence-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
}

.cadence-block,
.speed-block,
.distance-block,
.time-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.cadence-block p,
.speed-block p,
.distance-block p,
.time-block p {
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 5vh;
    color: white;
}

/* different backgorund colors for each p tag */
.cadence-block {
    background-color: #0B5345;
}

.speed-block {
    background-color: #900C3F;
    /* Purple */
}

.distance-block {
    background-color: #581845;
    /* Dark Purple */
}

.time-block {
    background-color: #FF5733;
    /* Orange */
}

/* modal styling centered with backdrop */
.modal-user {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-user-content {
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-user-question-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.modal-user-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.modal-reset-button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.modal-user-content .btn {
    width: 100%;
}

.modal-user-content .reset-user-data {
    margin-top: 50px;
    background-color: #C70039;
}

.modal-user-content .modal-user-question-wrap p {
    font-size: 3vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
}